## Data Analysis

In [9]:
# we begin by importing the libraries we need
import random # random is a built in library
random.randint(5,100)

66

In [12]:
import numpy as np
import pandas as pd

In [16]:
a = np.arange(0,100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [24]:
# Lists and Arrays
r1 = [74, 32, 87, 26, -44, 99]
r2 = [48, 31, -5, 68, 29, 38]

returns  = [r1, r2]
returns

[[74, 32, 87, 26, -44, 99], [48, 31, -5, 68, 29, 38]]

In [25]:
# we can use arays to manage lots of data
arrReturns = np.array(returns)
arrReturns.shape

(2, 6)

In [26]:
arrReturns.T # transpose

array([[ 74,  48],
       [ 32,  31],
       [ 87,  -5],
       [ 26,  68],
       [-44,  29],
       [ 99,  38]])

In [32]:
np.std(arrReturns, axis=1)

array([48.25165512, 22.0561153 ])

In [36]:
#  DataFRame makes data look pretty
df = pd.DataFrame(arrReturns.T, columns=['PortfolioA','PortfolioB'])
df

   PortfolioA  PortfolioB
0          74          48
1          32          31
2          87          -5
3          26          68
4         -44          29
5          99          38

In [37]:
df.describe()

       PortfolioA  PortfolioB
count    6.000000    6.000000
mean    45.666667   34.833333
std     52.857040   24.161264
min    -44.000000   -5.000000
25%     27.500000   29.500000
50%     53.000000   34.500000
75%     83.750000   45.500000
max     99.000000   68.000000

In [38]:
df.info() # careful - every member of a numpy or pandas collection must be the SAME data type
# so all members of an array must be the SAME data type
# all members of a series - same data type
# each column of a dataframe is a series, rtherefore within columns - same data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PortfolioA  6 non-null      int64
 1   PortfolioB  6 non-null      int64
dtypes: int64(2)
memory usage: 228.0 bytes

### Loading Eternal Data

In [41]:
# we may read data from eternal or local assets
url  ='https://fitchlearningmedia.com/Files/Python/country_risk_sample.csv'
# we can load external data into a DataFrame
df = pd.read_csv(url)
df

,Country,Short Term Political Risk,Long Term Political Risk,Short Term Economic Risk,Long Term Economic Risk,Operational Risk Index,Last CRI
0,Nicaragua,35.7,58.7,48.7,46.9,64.2,55.37
1,Saint Vincent And The Grenadines,26.0,44.9,68.1,61.3,57.3,52.37
2,Benin,38.3,39.9,52.1,60.3,62.1,52.16
3,United Arab Emirates,12.1,20.7,35.4,36.5,25.2,25.63
4,Gabon,39.7,37.9,47.3,52.2,66.8,51.81
...,...,...,...,...,...,...,...
95,Tuvalu,23.7,23.4,50.6,54.2,69.1,47.92
96,Djibouti,36.0,44.4,59.4,58.0,66.5,55.30
97,Ecuador,56.7,45.1,40.2,43.8,51.0,48.47
98,Paraguay,40.8,31.6,50.6,38.7,57.1,46.12
99,Gambia,52.7,43.3,64.4,65.3,63.8,58.92

In [44]:
df.describe()

,Short Term Political Risk,Long Term Political Risk,Short Term Economic Risk,Long Term Economic Risk,Operational Risk Index,Last CRI
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,37.726000,36.661000,49.821000,47.050000,49.364000,45.050200
std,15.395727,15.904176,14.466299,14.345636,16.547193,14.173212
min,4.400000,6.600000,15.400000,20.100000,14.200000,17.830000
25%,25.650000,24.975000,38.250000,34.950000,34.900000,32.992500
50%,38.250000,37.550000,51.250000,48.600000,51.500000,47.675000
75%,46.825000,46.325000,60.900000,58.100000,62.200000,54.367500
max,77.700000,71.500000,83.100000,76.500000,78.100000,75.540000

In [48]:
df.head(12) # or tail()

,Country,Short Term Political Risk,Long Term Political Risk,Short Term Economic Risk,Long Term Economic Risk,Operational Risk Index,Last CRI
0,Nicaragua,35.7,58.7,48.7,46.9,64.2,55.37
1,Saint Vincent And The Grenadines,26.0,44.9,68.1,61.3,57.3,52.37
2,Benin,38.3,39.9,52.1,60.3,62.1,52.16
3,United Arab Emirates,12.1,20.7,35.4,36.5,25.2,25.63
4,Gabon,39.7,37.9,47.3,52.2,66.8,51.81
5,Bulgaria,41.2,29.1,48.7,39.5,38.1,39.22
6,Saudi Arabia,26.2,38.1,18.7,30.1,34.3,29.82
7,United Kingdom,24.2,12.3,39.9,34.2,24.0,26.39
8,Oman,18.3,27.6,33.3,42.7,33.7,31.25
9,Bhutan,39.7,40.0,62.9,67.3,56.3,54.22
10,Jordan,34.5,31.0,56.9,54.0,41.0,43.02
11,Slovakia,35.9,18.8,41.7,30.0,38.4,34.32

In [52]:
# if we want just one columns, we write a literal string
df['Last CRI'] # access just this column (a series)
# if we want several columns, we provide a list of teh columns we want
cols = ['Short Term Political Risk',	'Long Term Political Risk', 'Country']
df[['Short Term Political Risk',	'Long Term Political Risk', 'Country']]

,Short Term Political Risk,Long Term Political Risk,Country
0,35.7,58.7,Nicaragua
1,26.0,44.9,Saint Vincent And The Grenadines
2,38.3,39.9,Benin
3,12.1,20.7,United Arab Emirates
4,39.7,37.9,Gabon
...,...,...,...
95,23.7,23.4,Tuvalu
96,36.0,44.4,Djibouti
97,56.7,45.1,Ecuador
98,40.8,31.6,Paraguay
99,52.7,43.3,Gambia

In [53]:
type(df['Short Term Political Risk']) # every columns is a Numpy Series

pandas.core.series.Series

In [56]:
df['Country'].unique() # or count() or min, max, std etc

array(['Nicaragua', 'Saint Vincent And The Grenadines', 'Benin',
       'United Arab Emirates', 'Gabon', 'Bulgaria', 'Saudi Arabia',
       'United Kingdom', 'Oman', 'Bhutan', 'Jordan', 'Slovakia',
       'Solomon Islands', 'Cambodia', 'Haiti', 'New Zealand',
       'Netherlands', "Lao People'S Democratic Republic", 'Kiribati',
       'Australia', 'Maldives', 'Brazil', 'Cameroon',
       'North Macedonia, Republic Of', 'Russian Federation', 'Armenia',
       'Japan', 'Sri Lanka', 'Sao Tome And Principe', 'Tonga', 'Malawi',
       'Madagascar', 'France', 'Belgium', 'Mexico', 'Indonesia',
       'Switzerland', 'Sudan', 'Fiji', 'Morocco', 'Mozambique',
       'Moldova, Republic Of', 'Singapore', 'Mongolia', 'Nepal',
       'Austria', 'Sweden', 'Costa Rica', 'Ireland', 'Iceland',
       'West Bank And Gaza', "Cote D'Ivoire", 'Czech Republic', 'Malta',
       'Dominican Republic', 'Kenya', 'Vietnam', 'Jamaica', 'Eritrea',
       'Lithuania', 'Bermuda', 'Bahrain', 'Brunei Darussalam', 'Ghana',
       'Suriname', 'Algeria', 'China', 'United States',
       'Equatorial Guinea', 'Uzbekistan', 'Hungary', 'Burundi',
       'Kyrgyzstan', 'Yemen', 'Montserrat', 'Bolivia', 'Dominica',
       'Turkiye', 'Cuba', 'Puerto Rico, Commonwealth of', 'Finland',
       'Venezuela', 'Senegal', 'Ethiopia', 'Colombia', 'Portugal',
       'Spain', 'Somalia', 'Egypt', 'Myanmar',
       'Korea (South), Republic Of', 'Romania', 'Eswatini', 'Albania',
       'Seychelles', 'Tuvalu', 'Djibouti', 'Ecuador', 'Paraguay',
       'Gambia'], dtype=object)

In [59]:
df['Country'].sort_values(ascending=False) # defaults to ascending

73                 Yemen
50    West Bank And Gaza
56               Vietnam
81             Venezuela
69            Uzbekistan
             ...
45               Austria
19             Australia
25               Armenia
65               Algeria
93               Albania
Name: Country, Length: 100, dtype: object

In [64]:
# we may need ot deal with missing data
# e.g. data with values that cannot be interpreted
# usually appear as NaN
df['Operational Risk Index'].notna().sum()

np.int64(100)

In [75]:
# start, stop-before, step, column-slice
df.iloc[::5, 0:7]

,Country,Short Term Political Risk,Long Term Political Risk,Short Term Economic Risk,Long Term Economic Risk,Operational Risk Index,Last CRI
0,Nicaragua,35.7,58.7,48.7,46.9,64.2,55.37
5,Bulgaria,41.2,29.1,48.7,39.5,38.1,39.22
10,Jordan,34.5,31.0,56.9,54.0,41.0,43.02
15,New Zealand,17.9,14.1,30.8,25.9,25.3,22.75
20,Maldives,38.7,39.7,52.7,59.2,58.8,51.52
25,Armenia,49.8,35.5,61.9,60.3,45.9,49.54
30,Malawi,46.8,40.9,66.9,64.7,66.0,58.46
35,Indonesia,34.2,35.9,31.5,32.7,41.4,36.30
40,Mozambique,50.3,50.1,59.6,55.0,69.2,58.77
45,Austria,20.7,10.3,31.0,26.3,24.4,22.38
50,West Bank And Gaza,71.7,60.8,59.4,64.7,63.0,63.52
55,Kenya,48.1,43.9,51.9,47.5,55.4,50.70
60,Bermuda,21.5,27.4,38.1,42.0,52.0,38.83
65,Algeria,42.1,48.6,45.0,54.5,59.6,51.83
70,Hungary,28.7,31.6,46.9,34.2,36.0,35.43
75,Bolivia,51.6,50.3,45.6,44.7,60.0,51.56
80,Finland,17.8,8.2,30.4,25.4,24.3,21.93
85,Portugal,24.4,22.7,41.5,38.7,30.9,31.22
90,"Korea (South), Republic Of",23.1,16.7,19.6,20.1,26.9,22.48
95,Tuvalu,23.7,23.4,50.6,54.2,69.1,47.92

## Correlation Matrix

In [77]:
# all the rows :  but from columns 1 onwards 1:
df.iloc[:, 1:].corr()

,Short Term Political Risk,Long Term Political Risk,Short Term Economic Risk,Long Term Economic Risk,Operational Risk Index,Last CRI
Short Term Political Risk,1.000000,0.823177,0.704392,0.615175,0.716853,0.837476
Long Term Political Risk,0.823177,1.000000,0.727584,0.742251,0.837859,0.914719
Short Term Economic Risk,0.704392,0.727584,1.000000,0.893703,0.784947,0.891699
Long Term Economic Risk,0.615175,0.742251,0.893703,1.000000,0.835333,0.898373
Operational Risk Index,0.716853,0.837859,0.784947,0.835333,1.000000,0.953093
Last CRI,0.837476,0.914719,0.891699,0.898373,0.953093,1.000000

In [78]:
# we can grab these correlation values
cri_array = df.iloc[:, 1:].values
cri_array

array([[35.7 , 58.7 , 48.7 , 46.9 , 64.2 , 55.37],
       [26.  , 44.9 , 68.1 , 61.3 , 57.3 , 52.37],
       [38.3 , 39.9 , 52.1 , 60.3 , 62.1 , 52.16],
       [12.1 , 20.7 , 35.4 , 36.5 , 25.2 , 25.63],
       [39.7 , 37.9 , 47.3 , 52.2 , 66.8 , 51.81],
       [41.2 , 29.1 , 48.7 , 39.5 , 38.1 , 39.22],
       [26.2 , 38.1 , 18.7 , 30.1 , 34.3 , 29.82],
       [24.2 , 12.3 , 39.9 , 34.2 , 24.  , 26.39],
       [18.3 , 27.6 , 33.3 , 42.7 , 33.7 , 31.25],
       [39.7 , 40.  , 62.9 , 67.3 , 56.3 , 54.22],
       [34.5 , 31.  , 56.9 , 54.  , 41.  , 43.02],
       [35.9 , 18.8 , 41.7 , 30.  , 38.4 , 34.32],
       [44.6 , 43.  , 54.8 , 52.6 , 69.6 , 55.78],
       [35.6 , 40.5 , 53.5 , 54.4 , 57.3 , 50.1 ],
       [71.5 , 64.3 , 69.2 , 67.  , 78.1 , 71.46],
       [17.9 , 14.1 , 30.8 , 25.9 , 25.3 , 22.75],
       [19.1 , 13.8 , 29.8 , 22.9 , 21.5 , 21.25],
       [28.5 , 46.3 , 61.2 , 57.2 , 61.  , 52.62],
       [29.6 , 20.9 , 53.3 , 57.3 , 68.4 , 50.03],
       [21.7 , 17.4 , 23.7 , 25.4 , 25.5 , 22.77],
       [38.7 , 39.7 , 52.7 , 59.2 , 58.8 , 51.52],
       [45.4 , 31.9 , 45.9 , 35.2 , 50.3 , 43.19],
       [50.6 , 51.3 , 46.5 , 45.6 , 67.2 , 54.26],
       [45.8 , 36.  , 60.4 , 53.9 , 49.5 , 48.93],
       [52.7 , 46.3 , 53.5 , 29.9 , 43.8 , 44.91],
       [49.8 , 35.5 , 61.9 , 60.3 , 45.9 , 49.54],
       [17.9 , 12.7 , 35.  , 34.  , 23.6 , 24.97],
       [45.  , 37.2 , 72.9 , 58.4 , 49.4 , 52.2 ],
       [43.7 , 54.4 , 75.6 , 64.4 , 72.6 , 64.22],
       [39.6 , 39.7 , 47.5 , 45.5 , 67.1 , 50.87],
       [46.8 , 40.9 , 66.9 , 64.7 , 66.  , 58.46],
       [47.7 , 55.4 , 63.3 , 67.1 , 66.1 , 61.2 ],
       [29.  , 18.8 , 35.6 , 27.1 , 27.8 , 27.74],
       [40.6 , 19.9 , 36.2 , 29.4 , 25.7 , 29.35],
       [37.1 , 43.  , 37.9 , 37.2 , 47.4 , 41.88],
       [34.2 , 35.9 , 31.5 , 32.7 , 41.4 , 36.3 ],
       [15.  , 12.5 , 25.8 , 24.4 , 20.1 , 19.6 ],
       [75.4 , 65.4 , 83.1 , 68.1 , 71.8 , 72.34],
       [44.  , 48.1 , 52.3 , 60.6 , 60.8 , 54.69],
       [39.2 , 30.  , 62.3 , 52.3 , 45.7 , 46.04],
       [50.3 , 50.1 , 59.6 , 55.  , 69.2 , 58.77],
       [46.5 , 42.2 , 56.9 , 49.9 , 53.2 , 50.59],
       [ 4.4 , 18.7 , 26.7 , 27.  , 14.2 , 17.83],
       [34.8 , 31.3 , 57.1 , 61.8 , 50.5 , 47.63],
       [50.6 , 49.8 , 57.7 , 48.9 , 62.5 , 55.79],
       [20.7 , 10.3 , 31.  , 26.3 , 24.4 , 22.38],
       [20.  ,  6.6 , 28.3 , 21.1 , 23.5 , 20.92],
       [38.2 , 28.2 , 47.7 , 44.  , 42.3 , 40.45],
       [20.9 , 12.7 , 15.4 , 20.4 , 24.8 , 19.8 ],
       [16.9 ,  9.3 , 38.3 , 31.1 , 29.1 , 25.81],
       [71.7 , 60.8 , 59.4 , 64.7 , 63.  , 63.52],
       [49.9 , 49.  , 44.2 , 46.2 , 61.1 , 51.77],
       [25.8 , 11.4 , 37.1 , 29.3 , 30.4 , 27.1 ],
       [18.3 , 17.4 , 35.8 , 29.5 , 33.8 , 28.45],
       [28.7 , 32.9 , 47.5 , 51.4 , 50.3 , 43.71],
       [48.1 , 43.9 , 51.9 , 47.5 , 55.4 , 50.7 ],
       [18.3 , 37.  , 34.2 , 36.5 , 42.7 , 34.96],
       [27.3 , 36.1 , 52.1 , 50.6 , 52.2 , 45.01],
       [40.8 , 58.8 , 67.3 , 63.5 , 77.8 , 64.1 ],
       [32.9 , 19.6 , 41.9 , 29.6 , 33.2 , 31.5 ],
       [21.5 , 27.4 , 38.1 , 42.  , 52.  , 38.83],
       [26.9 , 38.7 , 49.2 , 46.8 , 31.4 , 37.77],
       [ 9.2 , 31.7 , 38.5 , 49.2 , 35.1 , 33.49],
       [39.7 , 27.6 , 62.5 , 50.6 , 53.4 , 47.53],
       [49.2 , 46.5 , 65.  , 60.1 , 56.5 , 55.66],
       [42.1 , 48.6 , 45.  , 54.5 , 59.6 , 51.83],
       [22.  , 31.4 , 25.4 , 25.4 , 38.3 , 30.26],
       [28.3 , 21.6 , 35.4 , 24.3 , 22.1 , 25.73],
       [46.  , 62.9 , 60.  , 55.  , 70.7 , 61.12],
       [37.9 , 43.9 , 64.6 , 56.  , 54.5 , 52.02],
       [28.7 , 31.6 , 46.9 , 34.2 , 36.  , 35.43],
       [69.2 , 65.5 , 65.6 , 63.8 , 73.3 , 68.95],
       [57.  , 53.5 , 66.  , 64.9 , 56.6 , 59.26],
       [77.7 , 70.4 , 72.3 , 76.5 , 77.3 , 75.54],
       [20.  , 26.7 , 45.8 , 56.  , 56.5 , 44.08],
       [51.6 , 50.3 , 45.6 , 44.7 , 60.  , 51.56],
       [25.2 , 26.  , 59.6 , 63.3 , 57.8 , 47.94],
       [45.2 , 46.4 , 60.8 , 48.3 , 43.5 , 47.72],
       [29.8 , 44.  , 70.6 , 72.8 , 60.2 , 56.75],
       [38.  , 38.6 , 41.9 , 41.4 , 46.2 , 41.91],
       [17.8 ,  8.2 , 30.4 , 25.4 , 24.3 , 21.93],
       [59.2 , 66.1 , 74.8 , 74.3 , 69.3 , 68.85],
       [46.9 , 39.9 , 60.2 , 48.3 , 59.3 , 52.09],
       [61.7 , 63.1 , 62.1 , 51.7 , 68.4 , 63.06],
       [39.  , 40.  , 43.6 , 42.9 , 48.5 , 43.99],
       [24.4 , 22.7 , 41.5 , 38.7 , 30.9 , 31.22],
       [37.  , 24.3 , 35.2 , 36.  , 27.  , 31.06],
       [70.6 , 71.5 , 68.3 , 57.3 , 78.  , 70.56],
       [42.4 , 41.8 , 54.8 , 40.4 , 49.  , 46.32],
       [70.4 , 68.4 , 71.7 , 65.7 , 66.5 , 67.71],
       [23.1 , 16.7 , 19.6 , 20.1 , 26.9 , 22.48],
       [42.3 , 30.7 , 52.3 , 42.6 , 37.8 , 40.73],
       [46.9 , 51.1 , 57.5 , 61.6 , 59.6 , 56.14],
       [47.6 , 35.3 , 57.7 , 52.8 , 52.7 , 49.7 ],
       [24.6 , 25.2 , 61.5 , 55.4 , 47.  , 43.73],
       [23.7 , 23.4 , 50.6 , 54.2 , 69.1 , 47.92],
       [36.  , 44.4 , 59.4 , 58.  , 66.5 , 55.3 ],
       [56.7 , 45.1 , 40.2 , 43.8 , 51.  , 48.47],
       [40.8 , 31.6 , 50.6 , 38.7 , 57.1 , 46.12],
       [52.7 , 43.3 , 64.4 , 65.3 , 63.8 , 58.92]])

In [79]:
df.columns

Index(['Country', 'Short Term Political Risk', 'Long Term Political Risk',
       'Short Term Economic Risk', 'Long Term Economic Risk',
       'Operational Risk Index', 'Last CRI'],
      dtype='object')

In [81]:
# we may rename our columns
df.columns = ['country', 'stpr', 'ltpr', 'ster', 'lter', 'or', 'cri'] # a list (or a tuple)
df

                             country  stpr  ltpr  ster  lter    or    cri
0                          Nicaragua  35.7  58.7  48.7  46.9  64.2  55.37
1   Saint Vincent And The Grenadines  26.0  44.9  68.1  61.3  57.3  52.37
2                              Benin  38.3  39.9  52.1  60.3  62.1  52.16
3               United Arab Emirates  12.1  20.7  35.4  36.5  25.2  25.63
4                              Gabon  39.7  37.9  47.3  52.2  66.8  51.81
..                               ...   ...   ...   ...   ...   ...    ...
95                            Tuvalu  23.7  23.4  50.6  54.2  69.1  47.92
96                          Djibouti  36.0  44.4  59.4  58.0  66.5  55.30
97                           Ecuador  56.7  45.1  40.2  43.8  51.0  48.47
98                          Paraguay  40.8  31.6  50.6  38.7  57.1  46.12
99                            Gambia  52.7  43.3  64.4  65.3  63.8  58.92

[100 rows x 7 columns]

In [85]:
# we can persist our data to csv, xlsx, json etc
df.to_csv('./countries_risk.csv', index=False)

In [89]:
df.shape
len(df)
df.dtypes

country     object
stpr       float64
ltpr       float64
ster       float64
lter       float64
or         float64
cri        float64
dtype: object